bin
dev
workspace
Downloads
go
.ICEauthority
.IdeaIC*
.anyenv
.bash_history
.cache
.config/anyenv
.config/Code
.config/dconf
.config/enchant
.config/evolution
.config/fcitx
.config/fish
.config/fisher
.config/google-chrome-beta
.config/ibus
.config/menus
.config/mimeapps.list
.config/nvim/.netrwhist
.config/pulse
.config/regolith/flags
.config/user-dirs.dirs
.config/user-dirs.locale
.dbus
.gnome
.java
.local
.m2
.mozc
.mozilla
.pki
.presage
.python_history
.tig_history
.Xauthority
.xinputrc
.xorgxrdp.*
.xsession-errors
.vscode
tmux-*.log

