[url "https://"]
	insteadOf = git://
[ghq]
	root = ~/dev/src
[user]
	name = Hiroyuki Wada
	email = wadahiro@gmail.com
[core]
	editor = vim
	autocrlf = false
	quotepath = false
[diff]
	tool = vimdiff
  algorithm = histogram
[tig "bind"]
  generic = D !git difftool --tool=vimdiff --no-prompt --trust-exit-code %(commit)^!
[credential]
	helper = cache --timeout=360000000
