[url "https://"]
    insteadOf = git://
[ghq]
    root = ~/dev/src
[user]
    name = Hiroyuki Wada
    email = wadahiro@gmail.com
[core]
    editor = nvim
    autocrlf = false
    quotepath = false
[diff]
    tool = meld
    algorithm = histogram
[difftool "meld"]
    cmd = meld $LOCAL $REMOTE
[merge]
    tool = meld
[tig "bind"]
    generic = D !git difftool --tool=meld --no-prompt --trust-exit-code %(commit)^!
[credential]
    helper = cache --timeout=360000000
